body{
    background-color:gray;
    margin: 0px;
}
div{
    height: 50px;
    width: 100px;
    background-color:whitesmoke ;
    display: inline-block;
    margin:10px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-style: italic;
    transition: all 500ms ease;
    



}
div:hover{
    background-color: pink;
    text-decoration: line-through;
    text-decoration-style: double;
    

}
    