body{
    
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}
nav{
    background-color: white;
    height: 80px;
    border-bottom: 4px solid darkgray;

}
#logo{
    width: 150px;
    padding-top: 13px;
}
#logo-small{
    display: none;
    
    
}

   
   

nav div{
    height: 80px;
    float: right;
   

}
i{
    color:gray;
    font-size: 40px;
    vertical-align: top;
    margin-top: 22px;
    
    margin-left: 15px;
    margin-right: 15px;
}
i:hover{
    
    color:white;
}
nav div:hover{
    background-color:rgb(92, 185, 154);

}
.articulo{
    width: 100vw;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkolivegreen;
    background-size: cover;
}
.fondo_1{
    background-image: url('imagenes/fondo-jeep.jpg')
}
.fondo_2{
    background-image: url('imagenes/fondo-jeep2.jpg')
}

.articulo h1, .articulo h2{
    margin: 0px;
}
.articulo h1{
  
    color:greenyellow;
    font-size: 100px;
    

}
.articulo h2{
    color: white;
    font-size: 70px;
    letter-spacing: 19px;
   
}
.articulo div.naranja{
    padding: 40px;
    background-color: orange;
    color:white;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.articulo-blanco{
    background-color: white;
    text-align: center;
    padding-top: 2%;
    color: gra;

    
    
}
/*
breakpoint de tableta
*/
@media screen and (max-width:768px){

}

/*
breakpoint de celuar
*/
@media screen and (max-width:480px){
    #logo{
        display:none;
    }
    #logo-small{
        display: inline-block;
        width: 60px;
        margin-top: 12px;
    }
    .articulo{
        padding: 5vw;
        width: 90vw;
    }
    .articulo h1, .articulo h2{
        display: inline-block;
    }
    
    .articulo h1{
        font-size: 38px;
    }
    .articulo h2{
        font-size: 20px;
        margin-top: -30px;
        letter-spacing: 11px;
    }
    div.contenedor-imagen{
        
        height: 17vw;
        width: 17vw;
        float: left;
    }
    div.contenedor-headers{
        height: 17vw;
        width: 70vw;
        margin: 0px;
        float: left;
        margin-left: 6px;
    }
    div.contenedor-imagen img{
        vertical-align: middle;
    }
    .articulo div.naranja{
        width: 65vw;
        display: inline-block
    }
    .articulo-blanco p{
        display: none;
    }
    
}



   